@charset "utf-8";
/* CSS Document */
.bgcolor {
	background-color:#e9901f !important;
	color:#fff !important;
}
#section > ul li {
	margin:10px 0px;
	float:left;
	width:50%;
	line-height:40px;
	font-size:14px;
	color:#e9901f;
	background-color:#fffaf4;
	border:1px solid #e9901f;
	text-align:center;
}
#section > .actcontent .actcontentbox {
	line-height:30px;
	font-size:14px;
	color:#e9901f;
	text-align:center;
}


@media (min-width:375px) and (max-width:480px) {
	#section > ul li,#section > .actcontent .actcontentbox {
		font-size:16px;
	}
	
}
@media (min-width:481px) and (max-width:621px) {
	#section > ul li,#section > .actcontent .actcontentbox {
		font-size:18px;
	}
}
@media (min-width:622px) {
	#section > ul li,#section > .actcontent .actcontentbox {
		font-size:20px;
	}
}
