@charset "utf-8";
/* CSS Document */
#section {
	padding:10px 10px;
}
#section > p {
	font-size:14px;
	color:#000;
	line-height:30px;
	text-indent:36px;
}


@media (min-width:375px) and (max-width:480px) {
	#section > p {
		font-size:16px;
	}
	
}
@media (min-width:481px) and (max-width:621px) {
	#section > p {
		font-size:18px;
	}
}
@media (min-width:622px) {
	#section > p {
		font-size:20px;
	}
}









